add(a, b)
  if a > b
    a - b
  else if a < b
    a + b
  else
    a * b

default-border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

body
  padding add(10px, 5)
  default-border-radius(5px)

  div
    color red
