.page-view
  flex: 1
  overflow: auto
  padding: 0 20px

  .download-button
    color: #20a0ff
    padding: 5px 10px
    border-radius: 5px
    text-decoration: underline

  .filter-wrapper
    margin-bottom: 15px
