add(a, b)
  if a > b && a > b + b
    a - b
  else if a < b || b - a > a
    a + b
  else
    a * b

default-border-radius(prop, args)
  -webkit-{prop}-radius args
  -moz-{prop}-radius args
  {prop}-radius args

body
  padding add(10px, 5)
  default-border-radius(5px)

  div
    color red
    for num in (1..5)
      foo num
