#logo {
  $w: 150px;
  width: $w;
  $h: 80px;
  height: $h;
  margin-left: -($w / 2);
  margin-top: -($h / 2);

  /* property lookup */
  div {
    width: $w;
  }
}

body {
  color: red;
  ul {
    li {
      color: blue;
      a {
        /* property up bubble lookup */
        background-color: blue;
      }
    }
  }
}
