default-border-radius(prop, args)
  -webkit-{prop}-radius args
  -moz-{prop}-radius args
  {prop}-radius args

block_mixin(myColor)
  color: myColor
  .prop
    font-size: 14px;
    
    .child
     { block }

body
  default-border-radius(border, 4px)
  +block_mixin(blue)
    margin: 10px
    padding: 10px