$keyframe-name: pulse;
$val: 20;

@keyframes #{$keyframe-name} {
  @for $i from 0 through 5 {
    #{20% * $i} {
      opacity: $i / $val;
    }
  }
}

@keyframes auto-color {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: yellow;
  }
}

@keyframes foo {
  from {
    color: black;
  }
  to {
    color: white;
  }
}
